@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles can go here */

/* Global Focus Styles for Accessibility */
:focus-visible {
    outline: 2px solid #333333;
    /* brand-dark */
    outline-offset: 2px;
}